# Caminho absoluto da pasta que será feito o backup
BACKUP_SOURCE_FOLDER="/home/user"

# Diretório onde o arquivo .zip temporário será gerado
BACKUP_TEMP_DIR="/home/user/public_html/backup"

# Credenciais OAuth 2.0 (Necessário para contas gratuitas)
GOOGLE_CLIENT_ID="SEU_CLIENT_ID"
GOOGLE_CLIENT_SECRET="SEU_CLIENT_SECRET"
GOOGLE_REFRESH_TOKEN="SEU_REFRESH_TOKEN"

# ID da pasta do Google Drive onde os backups serão salvos
GOOGLE_DRIVE_FOLDER_ID="ID_DA_PASTA_AQUI"
